
        footer {
	        background-color: #32822B;
	        color: #FFFFFF;
	        text-align: center;
	        padding: 20px;
	        position: fixed;
	        bottom: 0;
	        width: 100%;
    }