<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Crear Prestamo</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" th:href="@{/images/icono.svg}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
	<link th:href="@{/css/agregar.css}" rel="stylesheet">
	<link th:href="@{/css/footer.css}" rel="stylesheet">
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<header th:replace="~{header :: header}"></header>
	<div class="container">
		<br />
		<h1>Crear Prestamo</h1>
		<br />
		<br />
		<form th:action="@{/guardar}" method="post"  >	
			
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <label for="isbn">Isbn</label>
                        <select name="isbn" id="isbn" class="form-control rounded">
                        	<option value="">Seleccionar</option>
                            <option th:each="libro : ${libros}" th:value="${libro.isbn}" th:text="${libro.isbn}"></option>
                        </select>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <label for="identificacionUsuario">Identificación Usuario</label>
                    <input type="text" name="identificacionUsuario" id="identificacionUsuario" th:value="${identificacionUsuario}" class="form-control rounded"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <label for="tipoUsuario">Tipo Usuario</label>
                    <input type="text" name="tipoUsuario" id="tipoUsuario" th:value="${tipoUsuario}" class="form-control rounded"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <a th:href="@{/listadoprestamos}" class="btn btn-secondary">Regresar</a>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
			
		</form>
	</div>
</body>

<footer th:replace="~{footer :: footer}"></footer>

</html>